.button-blue{
    background-color: #289BDE;
    padding: 10px 25px;
    color: white;
    font-weight: 600;
    
}

.button-blue:hover{
    transform: scale(1.1);
    transition:  500ms;
    background-color: white;
    color: #289BDE;
}
.button-white{
  background-color: white;
  padding: 10px 25px;
  color: #289BDE;
  font-weight: 600;
  border: 1px solid #289BDE;
}
.button-white:hover{
  background-color: #289BDE;
  padding: 10px 25px;
  color: white;
  font-weight: 600;
  
}


.blue{
   color: #289BDE;
    
}
.register{
  background-color: #289BDE;
  color: #ffffff;
}
.item:after {
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.6);
  }

  .logo-img{
    height: 40px;
    width: 40px;
  }
  .star-clr{
    color: #F59E0B;
  }
  .star-muted{
    color: #FCD34D;
  }

  .ft-bg{
    background-color: #161616;
    color: aliceblue;
  }
  .icon-style{
    font-size: x-large;
    color: rgb(255, 247, 247);
    padding: 10px;
  }